{% extends 'user/base.html' %}

{% block content %}
 <div class="container shadow mt-5" style="max-width:500px;width:90%;background-color: white;border-radius: 20px">
        <p class="text-center p-3" style="font-family: bold;font-size: 25px;">Profile</p>

       <!-- Button trigger modal -->
<center>
        <a  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">            <i class="fas fa-edit" style="float: right"></i>

    <img class="image" src="{{ profile_data.image.url }}" style="width: 150px;height:150px;border-radius: 100px;">
<br>
</a>
</center>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Update Image</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <form action="{% url 'update_user_profile' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
      <div class="modal-body">
        <input type="file" name="image" class="form-control">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-warning">Update Logo</button>
      </div>
            </form>
    </div>
  </div>
</div>

<br><br>
<form >
    <div class="row p-3 ">
        <div class="col-lg-4">UserName</div>
        <input type="text" name="email" value="{{ profile_data.email }}" placeholder="Enter Restaurant Name" class="col-lg-5" readonly>
        <small  class="col-lg-3 bg-secondary" style="color: white" >Email cannot be changed </small>

    </div>
</form>
<form method="post" action="{% url 'update_user_profile' %}">
    {% csrf_token %}
    <div class="row p-3 ">
        <div class="col-lg-4">Mobile Number</div>
        <input type="text" name="phone" value="{{ profile_data.phone}}" placeholder="Enter Contact Number" class="col-lg-5" required>
        <button  class="col-lg-3 btn btn-sm  btn-outline-warning"  >Update </button>
    </div>
</form>
<form method="get" action="{% url 'update_user_profile' %}">
    {% csrf_token %}
    <div class="row p-3 ">
        <div class="col-lg-4">Password</div>
        <input type="password" name="password" value="{{ profile_data.password }}" placeholder="Enter Restaurant Address" class="col-lg-5" required>
        <button  class="col-lg-3 btn btn-sm  btn-outline-warning"  >Update </button>
    </div>
</form>



    </div>
    <br><br>
{% endblock %}